:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
  --nav-width: 250px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  background-color: var(--bodyColor);
  position: relative;
  direction: rtl;
}
.main-layout {
  display: flex;
}
.nav {
  height: 100vh;
  width: var(--nav-width);
  background-color: #fff;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 100px 0 0 0;
  flex-direction: column;
  background: linear-gradient(180deg, #324467, #283142);
  transition: all 0.3s ease-out;
}
.nav__items {
  flex-grow: 1;
  overflow-y: auto;
}
.nav__items::-webkit-scrollbar {
  display: none;
}
.nav__item {
  margin: 5px 0;
}
.nav__logo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  font-weight: 800;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}
.nav li {
  margin: 5px 0;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  padding: 12px 8px;
  transition: all 0.3s ease-out;
}
.nav__link:hover {
  background-color: #eef2f8;
  color: #6d28d9;
  border-radius: 1.5rem;
}
.nav__item-label {
  margin-right: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: hidden;
}
.icon-container {
  font-size: 1.2rem;
  cursor: pointer;
}
.app-version {
  color: #efefef;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app {
  height: 200vh;
  padding: 1rem;
}

#app a {
  text-decoration: none;
  color: #ede9fe;
  font-size: 1.1rem;
  background-color: #6d28d9;
  border-radius: 5px;
  padding: 5px 7px;
  margin-top: 15px;
}
#app a:hover {
  background-color: #7c7c7c;
  color: #6d28d9;
}
#app h1 {
  margin-bottom: 20px;
}
.mini-sidebar.nav {
  width: 70px;
  overflow-x: hidden;
}
.mini-sidebar.nav .nav__link:hover {
  background-color: transparent;
  color: gold;
}
.nav.mini-sidebar .nav__logo {
  font-size: 1rem;
}
.nav.mini-sidebar .app-version-label {
  display: none;
}
.nav.mini-sidebar .sidebar-toggler {
  transform: rotate(-180deg);
}
.nav.mini-sidebar {
  padding-right: 15px;
}
.nav.mini-sidebar .app-version {
  justify-content: center;
}
.nav.nav.mini-sidebar .nav__items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}
.sidebar-toggler {
  transition: all 0.3s ease-in-out;
}
